[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  outline: none;
}

[type="checkbox"]:before {
  content: '+';
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

[type="checkbox"]:checked:before {
  content: '-';
}

[type="checkbox"]:focus:before {
  outline: #3b99fc auto;
}

[type="checkbox"]:disabled:before {
  content: '';
  border: 2px solid #f3f3f3;
  border-top: 2px solid #666;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.css-content {
  display: none;
}

[type="checkbox"]:checked ~ .css-content {
  display: inherit;
}

ul {
  list-style: none;
  padding-left: 1em;
}

:host {
  display: block;
  background: #ccc;
}
