.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
}

label {
  float: right;
  word-wrap: break-word;
}

.checkbox + label:before {
  content: '+';
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox:checked + label:before {
  content: '-';
}

.checkbox:focus:not(.loading) + label:before {
  outline: #3b99fc auto;
}

.checkbox.loading + label:before {
  content: '';
  border: 2px solid #f3f3f3;
  border-top: 2px solid #666;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  display: none;
}

.checkbox:checked ~ .content {
  display: inherit;
}

ul {
  list-style: none;
  padding-left: 1em;
}

:host {
  display: block;
  background: #ccc;
}

li {
  word-wrap: break-word;
}

li:after {
  content: "";
  display: table;
  clear: both;
}
